.head-box{
    width: 100%;
    height: 5.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    background-color: #fafafa;
    color: #262626;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-color: #e6e6e6;
    border-style: solid;
    font-size: 1rem;
    z-index: 995;
    .head-top{
        
    }
}