*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul,ol,li{
  list-style: none;
}
h1,h2,h3,h4,i,em{
  font-weight: normal;
  font-style: normal;
}
html{background:#f2f2f2;font-size:16px}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media screen and (min-width:768px){html{font-size:20px}}
@media screen and (min-width:414px) and (max-width:767px){html{font-size:16.96px}}